*.uuid

# dynamic binaries
.local/bin/arsg

# wallust handled
.config/hypr/hyprpaper.conf
.config/swaync/colors.css
.config/waybar/colors.css
.config/waybar/clock.jsonc
.config/wlogout/colors.css
.config/wofi/style.css
.config/hypr/colors.conf
.config/tmux/colors.conf
.config/kitty/kittytheme.conf

# private
.config/wezterm/lua/private/
