@import url("./colors.css");

* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "Funnel Display";
  font-size: 13px;
}

window#waybar {
  background-color: transparent; 
}

.main .modules-left, .main .modules-center, .main .modules-right {
  background-color: transparent;
  color: @foreground;
  border-radius: 0.5rem;
  margin: 0.25rem 0.25rem 0 0.25rem;
}

.main .modules-center {
  background-color: transparent;
}

.main .module {
  color: @accent_08;
  background: @accent_02;
  padding: 0rem 1rem;
  margin: 0rem 0.25rem;
  border-radius: 0.5rem;
}

.main .module:hover {
  border-radius: 0.5rem;
  box-shadow: inset -2px -2px @accent_08;
  transition: all 0.1s cubic-bezier(1,.51,.82,1.44);
}

#workspaces {
  background-color: @workspace_background;
  color: @accent_08;
  padding: 0;
  margin: 0;
  border-radius: 1rem;
}

#workspaces button {
  all: initial;
  min-width: 2rem;
}

#workspaces button.active {
  background-color: @accent_08;
  color: @accent_01;
  border-radius: 1rem;
}

#workspaces button.urgent {
  background-color: @danger;
  border-radius: 1rem;
}

tooltip {
  background-color: @tooltip-background;
  color: @tooltip-foreground;
  border-radius: 0.5rem;
  padding: 1.2rem;
  text-shadow: none;
}

tooltip label {
  background-color: @tooltip-background;
  color: @tooltip-foreground;
  padding: 0.5rem;
}

#wireplumber.muted {
  background: @accent_14;
  color: @accent_01;
}

#bluetooth.off {
  background: @accent_14;
  color: @accent_01;
}

#bluetooth.connected {
  background: @accent_08;
  color: @accent_02;
}

#battery.warning,
#battery.urgent,
#battery.critical {
  background: @danger;
}

#custom-kbdbacklight.off {
  background: @accent_14;
  color: @accent_01;
}

#custom-notifications.dnd-notification,
#custom-notifications.dnd-none {
  background: @accent_14;
  color: @accent_01;
}

/* spotify colors */
@define-color spotify-black #231f20;
@define-color spotify-green #1ed760;
@define-color spotify-white #f9f9f9;

@define-color spotify-black-opaque alpha(#231f20, 0.4);
@define-color spotify-green-opaque alpha(#1ed760, 0.7);
@define-color spotify-white-opaque alpha(#f9f9f9, 0.7);

#mpris {
  background: @spotify-black-opaque;
  font-size: 1.2rem;
  font-weight: 300;

  border-radius: 0rem 0.5rem 0.5rem 0rem;
  margin: 0px;
  padding: 1rem 0.25rem;

  transition: all 0.25s cubic-bezier(1,.51,.82,1.44);
}

#mpris.playing {
  color: @spotify-green;
  box-shadow:
  inset -1px 3px @spotify-green-opaque,
  inset -1px 0px @spotify-green-opaque;
}

#mpris.playing:hover {
  box-shadow:
  inset -1px -3px @spotify-green-opaque,
  inset -1px 0px @spotify-green-opaque;
}

#mpris.paused {
  color: @spotify-white;
  background: @spotify-black-opaque;
  box-shadow:
  inset -1px 3px @spotify-white-opaque,
  inset -1px 0px @spotify-white-opaque;
}

#mpris.paused:hover {
  box-shadow:
  inset -1px -3px @spotify-white-opaque,
  inset -1px 0px @spotify-white-opaque;
}

.bottom .modules-center {
  background: @accent_14;
  color: @accent_01;
  padding: 0 0.5rem 0 0.5rem;
  margin: 0;
  border-radius: 0.25rem;
}

#submap {
  min-width: 10rem;
}

#submap.resize {
  font-size: 1.1rem;
  font-weight: 600;
}

#submap.tv {
  font-size: 1.1rem;
  font-weight: 600;
}

#submap {
  padding: 0.25rem;
  margin: 0.25rem;
}
