@import "colors.rasi"

configuration {
  font: "JetBrainsMono Nerd Font 10";
  show-icons: true;
  icon-theme: "Adwaita";
  display-drun: "Launch";
  display-window: "Switch";
  drun-display-format: "{name}";
  disable-history: false;
  fullscreen: false;
  hide-scrollbar: true;
  sidebar-mode: false;
}

window {
  transparency: "screenshot";
  background-color: @background;
  text-color: @foreground;
  border: 0;
  border-color: @border;
  border-radius: 0.25em;
  width: 40%;
  location: center;
  x-offset: 0;
  y-offset: 0;
}

mainbox {
  background-color: transparent;
  border: 0;
  border-radius: 0;
  border-color: @accent;
  children: [ inputbar, listview ];
  spacing: 0.5em;
  padding: 0.5em;
}

inputbar {
  children: [ prompt, entry ];
  background-color: @highlight;
  text-color: @foreground;
  expand: false;
  border: 0;
  border-radius: 0.25em;
  border-color: @accent;
  margin: 0;
  padding: 0.5em;
}

prompt {
  enabled: true;
  padding: 0 0.5em 0 0;
  text-color: @foreground;
  font: "JetBrainsMono Nerd Font 12";
}

entry {
  text-color: @foreground;
  placeholder-color: @foreground;
  expand: true;
  horizontal-align: 0;
  placeholder: "Search";
  padding: 0;
  blink: true;
  font: "JetBrainsMono Nerd Font 12";
}

listview {
  background-color: transparent;
  columns: 5;
  lines: 3;
  spacing: 0;
  layout: vertical;
  fixed-height: true;
  fixed-columns: true;
  scrollbar: false;
  cycle: false;
  dynamic: true;
  border: 0;
}

element {
  background-color: transparent;
  text-color: @foreground;
  orientation: vertical;
  border-color: @accent;
  border: 0;
  border-radius: 0.25em;
  padding: 1em 0;
}

element-icon {
  size: 4em;
  border: 0;
}

element-text {
  expand: true;
  horizontal-align: 0.5;
  vertical-align: 0.5;
  margin: 0.25em 0.25em -0.25em 0.25em;
}

element alternate normal,
element normal normal {
  background-color: transparent;
}

element selected normal {
  background-color: @accent;
  text-color: @foreground;
}
